[submodule "deps/raylib"]
	path = deps/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "deps/cJSON"]
	path = deps/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
[submodule "deps/LuaJIT"]
	path = deps/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
